.login-form-header {
    .ant-tabs-nav-wrap {
        display: flex;
        justify-content: center;
        width: 300px;
    }
    .ant-tabs-content-holder{
        width: 300px;
    }
}
// .login-form-phone{
//     .ant-tabs-nav-wrap {
//         display: flex;
//         justify-content: center;
//         width: 300px;
//     }
// }
.login-form-check{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-button{
    width: 100%;
}
.login-get{
    display: flex;
    justify-content: space-between;
    Button{
        margin-left: 20px;
    }
}
.login-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
login-type-contaner{
    display: flex;
    justify-content: space-between;
    // align-items: center;
}